<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<%= render 'job' %>


<br/>

<%= link_to 'New Job', new_job_path %>
<br/>
<%= link_to 'Hello Word', hello_word_path %> 
<%= link_to 'Premium Jobs', root_path %>
